:root {
    --laranja: #f5b551;
    --amarelo: #f9ed32;
    --roxo: #a112e6;
    --azul: #0049ae;
    --borda-footer: #0058d2;
    --borda-superior: #ffca76;
    --borda-inferior: #f99800;
    --borda-botao-inferior: #fb8416;
}

.redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes img {
    object-fit: contain;
}

.redes .about {
    margin-left: 20px;
    margin-right: 20px;
}

.nucleos-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    max-width: 1300px;
    background-color: var(--laranja);
}
