:root {
    --laranja: #f5b551;
    --amarelo: #f9ed32;
    --roxo: #a112e6;
    --azul: #0049ae;
    --borda-footer: #0058d2;
    --borda-superior: #ffca76;
    --borda-inferior: #f99800;
    --borda-botao-inferior: #fb8416;
}

header {
    background-color: var(--laranja);
    height: 400px;
    position: relative;
}

.bolinhas-header {
    position: absolute;
    z-index: 1;
    mix-blend-mode: plus-lighter;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.geek-week-logo {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.pessoas-emoji {
    position: absolute;
    right: 0;
}

.gradiente {
    position: absolute;
    right: 0;
    width: 577px;
    height: 100%;
    background-image:
        linear-gradient(to right, rgb(245, 182, 81, 1), rgb(245, 182, 81, 0.3)),
        /* Gradiente marrom */
        url('images/pessoas_com_emojis.png');
    /* Imagem de fundo */
    background-size: cover;
    /* Ajuste o tamanho da imagem */
    background-position: center;
    /* Centraliza a imagem */
}

header img {
    max-height: 100%;
}

main {
    background-color: var(--roxo);
    padding: 20px 60px 60px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    background-image: url('images/background_body.png');
    background-size: cover;
    background-position: center;
}

main-schedule{
    background-color: var(--roxo);
    padding: 20px 60px 60px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
    background-image: url('images/background_body.png');
    background-size: cover;
    background-position: center;
}

main-schedule-last-page{
    background-color: var(--roxo);
    padding: 20px 60px 60px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 99px;
    background-image: url('images/background_body.png');
    background-size: cover;
    background-position: center;
}

.wrapper {
    max-width: 900px;
}

.wrapper-aside {
    max-width: 446px;
}

.wrapper .lower {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.lower h2 {
    position: absolute;
    font-family: "Press Start 2P", system-ui;
    color: white;
    text-align: center;
}

.box+.box {
    margin-top: 20px;
}

.box-about-size {
    max-width: 808px;
}

.box {
    font-family: "Silkscreen", system-ui;
    font-size: 20px;
    padding: 15px;
    background-color: var(--laranja);
    border: 5px solid #000;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper img {
    object-fit: contain;
}

.about {
    display: inline-block;
    width: 320px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--amarelo);
    border: 5px solid #000;
    text-align: center;
}

.content {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--amarelo);
    border: 5px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-pontinho {
    background-image: radial-gradient(#ffff4c 4px, var(--amarelo) 2px);
    background-size: 14px 14px;
}

.content>.btn-link+.btn-link {
    margin-top: 50px;
}

footer::before {
    content: '';
    display: block;
    background-color: var(--borda-footer);
    height: 5px;
}

.barra {
    background-color: #000;
    height: 5px;
}

footer {
    background-color: var(--azul);
    height: 80px;
}

.btn-link + .btn-link {
    margin-top: 53px;
}

.gap-top-down {
    margin-top: 53px;
    margin-bottom: 53px;
}

.geekweek-width-100 {
    width: 820px;
    margin-top: 63px;
    margin-bottom: 42px;
}

.borda-amarela {
    box-shadow:
        inset -4px 0px 1px 1px #ffc805,
        inset 0px 4px 1px 1px #fff99d,
        inset 4px 0px 1px 1px #fff99d,
        inset 0px -4px 1px 1px #ffc805,

        -4px 0px 1px 1px #f99800,
        0px 4px 1px 1px #f99800,
        4px 0px 1px 1px #ffc976,
        0px -4px 1px 1px #ffc976;
}

.borda-laranja {
    box-shadow:
        inset -4px 0px 1px 1px #f99800,
        inset 0px 4px 1px 1px #ffc976,
        inset 4px 0px 1px 1px #ffc976,
        inset 0px -4px 1px 1px #f99800;
}

.clm {
    float: left;
}

.display-flex {
    display: flex;
}

.godown {
    margin-top: 6px;
}

.schedule-txt-color {
    color: white
}

.display-inline {
    display: inline
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-flex-start {
    align-items: flex-start;
}

.space-between {
    justify-content: space-between;
}

.self-start {
    align-items: self-start;
}

.margin-bottom {
    margin-bottom: 20px;
}

.margin-top {
    margin-top: 35px;
}

.gap-schedule {
    gap: 5px;
}

.object-fit-contain {
    object-fit: contain;
}

.no-wrap {
    white-space: nowrap;
}

.align-items-center {
    align-items: center;
}

.content-schedule {
    margin-top: 20px;
    padding: 6px;
    padding-left: 16px;
    background-color: var(--amarelo);
    border: 5px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.info {
    display:flex;
    gap: 8px;
}

.acao{
    display: flex;
    align-items: center;
    gap: 5px;
}

.icone-seta-esquerda {
    width: 200px;   /* Mantém a largura original */
    height: 196px;  /* Mantém a altura original */
    max-width: 100%; /* Garante que a imagem não extrapole o container */
    display: block; /* Remove espaço extra ao redor da imagem */
    margin-top: 330px;
  }

.icone-seta-direita {
    width: 200px;   /* Mantém a largura original */
    height: 196px;  /* Mantém a altura original */
    max-width: 100%; /* Garante que a imagem não extrapole o container */
    display: block; /* Remove espaço extra ao redor da imagem */
    margin-top: 330px;
}

.no-gap{
    gap: 0px;
}

.margin-top-empty{
    margin-top: 160px;
}

.text-stroke {
    font-weight: bold;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 8px;
    paint-order: stroke fill;
}

.main-title {    
    margin-top: 63px;
    margin-bottom: 42px;
    font-family: "Press Start 2P", system-ui;
    font-size: 38px;
    color: white;
    text-align: center;
}

.btn-link {
    font-size: 24px;
    color: white;
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    width: 346px;
    height: 79px;
    display: block;
    text-decoration: none;

    /* background-color: var(--laranja); */
    background-image: url('images/bg-btn.png');
    padding: 10px;
    cursor: pointer;
    user-select: none;
    
    /* border-radius: 30px;
    border-style: solid;
    border-width: 4px;
    border-color: #000;
    border-image-slice: 4;
    border-image-width: 3;
    border-image-outset: 0;
    border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23000' /></svg>"); */
    
}

.btn-link.text-stroke {
    font-size: 30px;
}

.programacao-title {
    color: white;
    font-size: 20px;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    -webkit-text-stroke-width: 6px;
}

.icones-text {
    color: white;
    font-size: 15px;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    -webkit-text-stroke-width: 6px;
}